{% extends "base.html" %}                                                                            
{% load i18n %}                                                                                      
                                                                                                     
{% block meta_title %}{% trans "Grow Records" %}{% endblock %}                                       
{% block title %}{% trans "Grow Records" %}{% endblock %}                                            
                                                                                                     
{% block main %}                                                                                                                           
{% if action_list %}                                                                                              
    <ul>                                                                                                                   
    {% for action in action_list %}                                                                             
        <li><a href="{% url 'grow_records:action_detail' action.id %}">{{ action }}</a></li>                           
    {% endfor %}                                                                                                           
    </ul>                                                                                                                  
{% else %}                                                                                                                 
    <p>No crops are available.</p>                                                                                         
{% endif %}          

{% endblock %}
