{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "bed records" %}{% endblock %}
{% block title %}{% trans "bed records" %}{% endblock %}

{% block main %}

{% if bed_records %}
    <table class="table table-responsive table-hover">
        
        <thead><tr>
            <th>Crop</th>
            <th>Variety</th>
            <th>Nursery Date</th> 
            <th>In Bed Date</th>
            <th>Bed</th>
            <th>% Bed</th>
            <th># Rows</th>
            <th>Spacing</th>
            <th>Seeder</th>
        </tr>
        </thead>
        <tbody>
            {% for bed_record in bed_records %}
                <tr>
                    <td> {{ bed_record.variety.crop.pref_common_name }} </td>
                    <td><a href="{% url "grow_records:crop_detail" bed_record.variety.crop.id %}">{{ bed_record.variety.name }}</a></td>
                    <td class="fluid">{{ bed_record.nursery_record.in_nursery_date}}</td>
                    <td>{{ bed_record.in_bed_date }}</td>
                    <td>{{ bed_record.bed }} </td>
                    <td>{{ bed_record.bed_percent }} </td>
                    <td>{{ bed_record.rows }} </td>
                    <td>{{ bed_record.spacing_in }}</td>
                    <td>{{ bed_record.seeder.name }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No nursery records to display.</p>
{% endif %}

{% endblock %}
