{% extends "base.html" %}                                                                            
{% load i18n %}                                                                                      
                                                                                                     
{% block meta_title %}{% trans "Grow Records" %}{% endblock %}                                       
{% block title %}{% trans "Grow Records" %}{% endblock %}                                            
                                                                                                     
{% block main %}

<h1>Bed Name: {{ bed }}</h1>                                                  
                                                                                       
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}           

<h2>Bed Details</h2>
    
<ul>
    <li>bed location</li>
        <ul>
            <li>site: {{ bed.site }}</li>
            <li>block: {{ bed.bed_set }}</li>
        </ul>
    <li>bed width (in): {{ bed.width_in }}</li>
    <li>bed length (ft): {{ bed.length_ft }}</li> 
</ul>

<h2>Bed Crop History</h2>

<ol>
    {% for record in bed.bed_crop_history %}
        <li> 
            {% if record.in_ground %}
                <strong>{{ record.variety }} --- in bed: {{ record.in_bed_date }}</strong> 
            {% else %} 
                <strong>{{ record.variety }} --- in bed: {{ record.in_bed_date }}</strong> 
            {% endif %} 
        </li>
    {% endfor %}
</ol>

<h2>Bed Action History</h2>

<ol>                                                                                                              
    {% for action in bed.actions %}                                                                      
        <li> {{ action }} </li>                                                                                                     
    {% endfor %}                                                                                                  
</ol> 

{% endblock %}
