{% extends "base.html" %}                                                                            
{% load i18n %}                                                                                      
                                                                                                     
{% block meta_title %}{% trans "Grow Records" %}{% endblock %}                                       
{% block title %}{% trans "Grow Records" %}{% endblock %}                                            
                                                                                                     
{% block main %}

<h1>Buyer Name: {{ buyer }}</h1>                                                  
                                                                                       
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}           

<h2>Buyer Details</h2>
    
<h2>Buyer Prices</h2>

<ol>
    {% for price in buyer.price_list_current %}
        <li> 
            <strong>{{ price }}</strong> 
        </li>
    {% endfor %}
</ol>

<h2>Buyer Prices</h2>

<ol>                                                                                      
    {% for item in buyer.variety_volume_delivered %}                                           
        <li>                                                                              
            <strong>{{ item }}</strong>                                                  
        </li>                                                                             
    {% endfor %}                                                                          
</ol>

{% endblock %}
