{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Grow Records" %}{% endblock %}
{% block title %}{{ crop }}{% endblock %}
{% block title-tagline %} 
{{ crop.genus.name }} {{ crop.species.species }}
{% for variety in crop.varieties %}                                                   
        <li> {{ variety }}</li>            
            {% endfor %}
{% endblock %}


{% block main %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>Crop History</h2>
<ol>
    {% for record in crop.crop_history %}
        <li> {{ record }} </li>
    {% endfor %}
</ol>


<h2>Crop Action History</h2>

<ol>                                                                                      
    {% for action in crop.actions %}                                                      
        <li> {{ action }} </li>                                                           
    {% endfor %}                                                                          
</ol> 

{% endblock %}
