{% extends "base.html" %}                                                                            
{% load i18n %}                                                                                      
                                                                                                     
{% block meta_title %}{% trans "Grow Records" %}{% endblock %}                                       
{% block title %}{% trans "Grow Records" %}{% endblock %}                                            
                                                                                                     
{% block main %}
                                                                                                                           
{% if delivery_record_list %}                                                                                              
    <ul>                                                                                                                   
    {% for delivery in delivery_record_list %}                                                                             
        <li><a href="{% url 'grow_records:delivery_detail' delivery.id %}">{{ delivery }} --- ${{ delivery.value }}</a></li>                           
    {% endfor %}                                                                                                           
    </ul>                                                                                                                  
{% else %}                                                                                                                 
    <p>No delivery records are available.</p>                                                                                         
{% endif %}     

{% endblock %}     
