{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Deliveries" %}{% endblock %}
{% block title %}{% trans "Deliveries" %}{% endblock %}

{% block main %}

{% if delivery_record_list %}
    <table class="table table-responsive table-hover">

        <thead><tr>
            <th>Buyer</th>
            <th>Date</th>
            <th>Value</th>
            <th>Items</th>
        </tr>
        </thead>
        <tbody>
    {% for delivery in delivery_record_list %}
        <tr>
            <td><a href="{% url 'grow_records:delivery_detail' delivery.id %}">{{ delivery.buyer }}</a></td>
                    <td> {{ delivery.date }}</td>
                                        <td>{{ delivery.value }}</a></td> 
                    <td><a href="{% url 'grow_records:delivery_detail' delivery.id %}">
                        {% for item in delivery.items %}
                            {{ item }},&nbsp;
                        {% endfor %}</a>
                    </td>
                </tr>
    {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No delivery records are available.</p>
{% endif %}

{% endblock %}
