{% extends "base.html" %}                                                                            
{% load i18n %}                                                                                      
                                                                                                     
{% block meta_title %}{% trans "Grow Records" %}{% endblock %}                                       
{% block title %}{% trans "Grow Records" %}{% endblock %}                                            
                                                                                                     
{% block main %}

<h1>Buyer : {{ deliveryrecord.buyer }}</h1>                                                  
<h1>Date : {{ deliveryrecord.date }}</h1>                                                  
                                                                                       
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}           

<h2>Delivery Items</h2>

<p> list: {{ deliveryrecord.items }}</p>

<ol>
    {% for item in deliveryrecord.items %}
        <li> 
            <strong>{{ item }}</strong> --- value: $ {{ item.value }}
        </li>
    {% endfor %}
</ol>

<h2>Delivery Total: {{deliveryrecord.value }} </h2>

{% endblock %}
