{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Data Garden" %}{% endblock %}
{% block title %}{% trans "Data Garden" %}{% endblock %}

{% block main %}

<a href="{% url 'grow_records:bed_index' %}">Beds</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:crop_index' %}">Crops</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:current_crops_index' %}">Current Crops</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:bed_records_index' %}">Bed Records</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:buyer_index' %}">Buyers</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:delivery_index' %}">Deliveries</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:action_index' %}">Actions</a>

{% endblock %}
