                                                                                                                           
    <ul>                                                                                                                   
        <li><a href="{% url 'grow_records:bed_index' %}">Beds</a></li>
        <li><a href="{% url 'grow_records:crop_index' %}">Crops</a></li>
        <li><a href="{% url 'grow_records:current_crops_index' %}">Current Crops</a></li>
    </ul>                                                                                                                  
