{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Nursery Records" %}{% endblock %}
{% block title %}{% trans "Nursery Records" %}{% endblock %}

{% block main %}

{% if nursery_records %}
        <table class="table table-responsive table-hover">        
        <thead>
        <tr>
            <th>Crop</th>
            <th>Variety</th>
            <th>Start Date</th>
            <th>Germ Date</th>
            <th>Tray Cells</th>
            <th># Trays</th>
            <th>Medium</th>
            <th>PO</th>
            <th>TP</th>
        </tr>
        </thead>
        <tbody>
            {% for nursery_record in nursery_records %}
                <tr>
                    <td> {{ nursery_record.variety.crop.pref_common_name }} </td>
                    <td><a href="{% url "grow_records:crop_detail" nursery_record.variety.id %}">{{ nursery_record.variety.name }}</a></td>
                    <td>{{ nursery_record.in_nursery_date }}</td>
                    <td>{{ nursery_record.germ_date }} </td>
                    <td>{{ nursery_record.tray_size_cell }} </td>
                    <td>{{ nursery_record.number_trays }}</td>
                    <td>{{ nursery_record.medium.created }} </td>
                    <td>
                        {% if nursery_record.potted_on %}
                            {% for pot_on_record in nursery_record.pot_on_records %}
                                <p> {{ pot_on_record.pot_on_date }} </p>
                            {% endfor %}
                        {% else %}
                            <p>X</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if nursery_record.transplanted %}
                            {% for bed_record in nursery_record.bed_records %}
                                <p> {{ bed_record }} </p>
                            {% endfor %}
                        {% else %}
                            <p>X</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No nursery records to display.</p>
{% endif %}

{% endblock %}
