{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Data Garden" %}{% endblock %}
{% block title %}{% trans "Data Garden" %}{% endblock %}

{% block title-tagline %}{% trans "growing better with data" %}{% endblock %}

{% block main %}

<p class="lead">Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass. </p>


<a href="{% url 'grow_records:bed_index' %}">Beds</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:crop_index' %}">Crops</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:current_crops_index' %}">Current Crops</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:bed_records_index' %}">Bed Records</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:buyer_index' %}">Buyers</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:delivery_index' %}">Deliveries</a>
<span class="separator">|</span>
<a href="{% url 'grow_records:action_index' %}">Actions</a>

{% endblock %}
